div.preview, .preview > div.row, .preview > div.row > div.col-md-4, div.preview .el {
    margin-top: 50px;
    position: relative;
    min-height: 30px;
}
div.preview .el {
    margin-top: 20px;
}
.control {
    padding: 5px;
    position: absolute;
    opacity: 0.1;
    top: -35px;
    left: 15px;
    background: blue;
    color: #fff;
    cursor: pointer;
}
.control.js-add-row {
    top: auto;
    bottom: -35px;
    opacity: 1;
}
.control.js-delete {
    top: 0px;
    left: auto;
    right: 0px;
    bottom: auto;
    z-index: 1;
}
div:hover > .control {
    opacity: 0.5;
}
.control.js-delete, div:hover > .control.js-delete {
    background: red;
}
.out-red {
    outline: red solid 1px;
}
.out-green {
    outline: green solid 1px;
}

.js-edit {
    color: blue;
    cursor: pointer;
}
.el {
    padding-right: 17px;
}

.filter-block {
    padding-left: 20px;
}