.js-field label {
    display: block;
    font-weight: 400;
    cursor: pointer;
}
.js-field label input {
    margin: 3px 10px 3px 20px;
}
.js-field label input:before {
    content: "";
    position: relative;
    display: block;
    margin-right: 13px;
    width: 14px;
    height: 14px;
    border: 2px solid #cdcdcd;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.js-field label input:checked:before {
    background-color: #82c352;
    border-color: #82c352;
    background-image: url(/images/icons/arrow-check_white.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.js-field label input[type="radio"]:before {
    border-radius: 50%;
}
.js-field label input[type="radio"]:checked:before {
    background-color: #fff;
    border-width: 4px;
}